body, #root {
    padding: 0;
    height: 100vh;
    margin: 0;
}

table {
    margin-top: 30px;
    border-spacing: 10px; /* Adds space between cells */
    border-collapse: separate; /* Options: collapse or separate */
    table-layout: fixed; /* Makes columns equal width */
    width: 100%; /* Make table use full container width */
  }
  
  th, td {
    padding: 8px; /* Inner spacing within cells */
    text-align: left;
  }
  
   td {
    border: 1px solid;
  }